/.gitignore
/erd.png
/erdiagram.png
/Figure_1.png
/Pokemon-2024-05-20T22_09_46.png
/Pokemon-2024-05-20T22_18_00.png
/Sin título-1.png
/Sin título-2.png
/Sin título-3.png
/ability.js
/test.erd
/test.py